In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [3]:
path_to_db = 'telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = """
        SELECT u.user_id,
               u.lt_day,
               CASE
                   WHEN u.lt_day <= 365 THEN 'Да'
                   WHEN u.lt_day > 365 THEN 'Нет'
               END AS is_new,               
               u.age,
               CASE
                   WHEN u.gender_segment = '1' THEN 'женский'
                   WHEN u.gender_segment = '0' THEN 'мужской'
                   ELSE 'не указан'
               END AS gender_segment,
               u.os_name,
               u.cpe_type_name,
               l.country,
               l.city,
               aseg.title AS age_segment,
               tseg.title AS traffic_segment,
               lseg.title AS lifetime_segment,
               u.nps_score,
               CASE
                   WHEN u.nps_score <= 6 THEN 'критики'
                   WHEN u.nps_score > 6 AND u.nps_score < 9 THEN 'нейтралы'
                   WHEN u.nps_score >= 9 THEN 'сторонники'
               END AS nps_group

        FROM user AS u
             LEFT JOIN location AS l ON u.location_id = l.location_id 
             LEFT JOIN age_segment AS aseg ON u.age_gr_id = aseg.age_gr_id
             LEFT JOIN traffic_segment AS tseg ON u.tr_gr_id = tseg.tr_gr_id
             LEFT JOIN lifetime_segment AS lseg ON u.lt_gr_id = lseg.lt_gr_id
        """

In [4]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,Нет,45.0,женский,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,сторонники
1,A001WF,2344,Нет,53.0,мужской,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,сторонники
2,A003Q7,467,Нет,57.0,мужской,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,сторонники

In [5]:
df.to_csv('data_for_tableau.csv', index=False)

[Ссылка на дашборд (три на разных листах) на сайте Tableau Public](https://public.tableau.com/app/profile/dm4006/viz/Project2_16472483024480/Dashboard1?publish=yes)

[Ссылка на pdf-файл с презентацией](https://disk.yandex.ru/i/guYlxhrp0zJpAQ)